@font-face {
    font-family: 'Barlow Semi Condensed';
    src:url('../fonts/BarlowSemiCondensed-Medium.woff2') format('woff2'),
        url('../fonts/BarlowSemiCondensed-Medium.woff') format('woff'),
        url('../fonts/BarlowSemiCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Barlow Semi Condensed';
    src:url('../fonts/BarlowSemiCondensed-SemiBold.woff2') format('woff2'),
        url('../fonts/BarlowSemiCondensed-SemiBold.woff') format('woff'),
        url('../fonts/BarlowSemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }